<!-- category_list.html -->
{% extends "base.html" %}
{% block content %}
  <div class="container mt-5">
    <h2 class="text-center mb-4">Browse Categories</h2>
    <div class="row">
{% for category in categories %}
<div class="col-md-4 mb-3">
    <div class="card text-center">
        <div class="card-body">
            <h5 class="card-title">
                {% if category.name == "Uncategorized" %}
                    Discover
                {% else %}
                    {{ category.name }}
                {% endif %}
            </h5>
            <a href="{% url 'recipes:category_detail' category.id %}" class="btn btn-primary">View Recipes</a>
        </div>
    </div>
</div>
{% endfor %}
    </div>
  </div>
{% endblock %}
